#park-information-footer {
  text-align: center;
  p {
    display: inline-block;
    margin: 0 2% 0 2%;
  }
}

body {
  padding-top: 60px;
}

.container {
  padding-top: 8px;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

#map {
  width: 90%;
  margin: 0 auto;
}

#all-attractions {
  width: 90%;
  margin: 0 auto;
}
