$mainstreet: #730217;
$adventureland: #D15530;
$frontierland: #A37849;
$libertysquare: #2594D9;
$fantasyland: #E73C81;
$tomorrowland: #3E4D8C;
$cinderella: #F2CF53;

#park-information-footer {

  text-align: center;
  p {
    display: inline-block;
    margin: 0 2% 0 2%;
  }
}

body {
  padding-top: 60px;
}

.container {
  padding-top: 8px;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

#map {
  width: 90%;
  margin: 0 auto;
}

#all-attractions {
  width: 90%;
  margin: 0 auto;
}


@import 'modal';
@import 'colLists';

#nav {
  text-align: right;
}

